<div class="message__container {{containerClass}}">
    <div class="message {{class}} text">
        <div class="message__content text-s-m">
            {{text}}
        </div>
        <div class="message__meta">
            <span class="message__read {{class}}"></span>  
            <span class="message__time {{class}} text-s">
                {{time}}
            </span>   
        </div>      
    </div>      
</div>
