<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{style}}">
  <script src="{{script}}"></script>
  {{#if templateScript}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="{{templateScript}}"></script>
  {{/if}}
  <title>
    {{title}}
  </title>
</head>
<body class={{themeClass}}>
  {{{body}}}
</body>
</html>